# Ensure that warnings are treated the same across systems.
build --show_progress_rate_limit=10

# Windows-specific configurations to prevent common issues.
build:windows --features=compiler_param_file
build:windows --enable_runfiles
